ListView {
    margin: 10;
}

ListView Label {
    /*margin-left:10;*/
    padding-top: 10;
}

TextField {
    padding-left:10;
}

Label {
    font-size:12;
}

.title {
    font-weight: bold;
    font-size:12;
}

.date {
    font-size:10;
    font-style: inherit;
    padding-top:12;
    color: #868686;
}